@use '../../variables/sizing';

.home-contact {
	@extend .container-full-width;
	margin-top: 8rem;
	margin-bottom: 3rem;
	padding-top: 3rem;
	padding-bottom: 3rem;
	backdrop-filter: blur(2px);
	background: rgba(0, 0, 0, 0.25);

	.home-contact-content {
		margin: 0 auto;
		width: 100%;
		max-width: map-get(sizing.$breakpoints, 'lg');
		font-size: 1.1em;
		line-height: 150%;
	}
}
