@use 'sass:math';
@use '../../variables/colors';

section#home-portfolio-list {
	.project-item {
		position: relative;
		display: flex;
		justify-content: space-between;
		flex-wrap: wrap;
		padding-top: 2.5rem;
		padding-bottom: 2.5rem;

		@include media-breakpoint-up(lg) {
			justify-content: flex-start;
			@for $i from 1 through 9 {
				&--pad-#{$i} {
					margin-left: percentage(math.div($i, 12));
				}
			}

			&.project-item--flipped {
				.details {
					text-align: left;
					order: 3;
				}
				.image-holder {
					order: 2;
					@include media-breakpoint-up(lg) {
						left: -35px;
					}
					.image {
					}
				}
			}
		}

		&:hover {
			.image-holder {
				.image {
					top: -4px;
					left: -4px;
					box-shadow: 12px 12px 0px colors.$color-hero-secondary;
					img {
						filter: grayscale(0);
					}
				}
			}
			.details .see-project {
				color: colors.$color-hero;
				span {
					left: 8px;
				}
			}
		}

		.image-holder {
			// overflow: hidden;
			padding-bottom: 10px;
			order: 1;
			margin-bottom: 20px;
			width: 99%;
			@include media-breakpoint-up(sm) {
				order: 2;
				margin-left: 1em;
				width: 48%;
			}

			@include media-breakpoint-up(lg) {
				position: relative;
				left: 30px;
				margin-left: 0;

				@for $i from 1 through 9 {
					&--size-#{$i} {
						width: percentage(math.div($i, 12));
					}
				}
			}
			.image {
				box-shadow: 8px 8px 0px colors.$color-hero-secondary;
				position: relative;
				top: 0;
				left: 0;
				width: 100%;
				transition: 0.2s;
				img {
					width: 100%;
					height: auto;
					transition: 0.2s;
					filter: grayscale(1);
				}
			}
		}
		.details {
			z-index: 100;
			order: 2;
			width: 100%;
			@include media-breakpoint-up(sm) {
				order: 1;
				width: 48%;
				text-align: right;
			}

			@include media-breakpoint-up(lg) {
				@for $i from 1 through 9 {
					&--size-#{$i} {
						width: percentage(math.div($i, 12));
					}
				}
			}
			h3 {
				color: colors.$color-hero;
				font-size: 4.5vw;
				font-size: max(4.5vw, 30px);
			}
			h4 {
				font-size: 1.5vw;
				font-size: max(1.5vw, 22px);
				font-style: italic;
			}
			p {
				font-size: 1.25vw;
				font-size: max(1.25vw, 18px);
				color: white;
			}
			.see-project {
				cursor: pointer;
				color: colors.$color-hero-secondary;
				transition: color 0.3s;
				span {
					position: relative;
					left: 0px;
					transition: left 0.3s;
				}
			}
		}
	}
}
