@use '../../variables/colors';

.text-block {
	background: rgba(0, 0, 0, 0.2);
	padding-top: 6vw;
	padding-bottom: 6vw;
	font-size: 1.1em;
	line-height: 150%;
	@include media-breakpoint-up(md) {
		font-size: 1.3em;
	}
	h2 {
		color: colors.$color-hero;
		text-shadow: 8px 8px 0 colors.$color-hero-secondary;
	}
}
