div.background-grid-effect {
	position: fixed;
	width: 150vw;
	height: 150vh;
	left: -25vw;
	top: -25vh;
	background-image: url('/images/tile-256-white-10-2px.png');
	background-size: 128px;
	background-attachment: fixed;
	background-position: 50% 50%;
	z-index: -10000;
}
