div.background-grid-effect {
	position: fixed;
	width: 100vw;
	height: 100vh;
	left: 0;
	top: 0;
	background-attachment: fixed;
	background-position: 50% 50%;
	z-index: -10000;
	background-size: 64px;
	background-image: url('/images/tile-256-white-10-2px.png');

	@include bp(md) {
		background-size: 128px;
	}
	@include increase-contrast {
		background-image: none;
	}
	@include reduce-motion {
		background-position: 50% 50% !important;
	}
}
