footer {
	z-index: 10000;
	// border-bottom: 1px solid colors.$color-hero;
	border-top: 2px dashed #444;
	margin-top: 100px;
	padding: 15px 0 25px;
	color: #666;
	text-align: right;
	font-size: 0.8em;
}
