@use '../variables/colors' as colors;
@use '../variables/sizing' as sizing;

// In this site, we'll put content built in the gutenberg editor inside .gutenberg-content
// In wordpress, it's inside .editor-styles-wrapper

.gutenberg-content,
.editor-styles-wrapper {
	h2 {
		color: white;
	}
	h3 {
		margin-bottom: 0.5em;
	}
	p {
		font-size: 1.2rem;
	}
	ul {
		strong {
			font-family: 'Tusker Grotesk 4';
			font-weight: 400;
			font-size: 1.7em;
		}
	}

	pre.wp-block-code {
		background-color: rgba(0, 0, 0, 0.4);
		backdrop-filter: blur(3px);
		color: var(--color-hero);
		padding: 1em;
		border-radius: 8px;
		overflow-x: auto;
		tab-size: 2em;
	}
	code {
		color: var(--color-secondary);
	}

	.wp-block-columns {
		@extend .columns;
		margin: sizing.$gutters 0;

		.wp-block-column {
			@extend .column;
		}

		img {
			width: 100%;
			height: auto;
		}
	}
	.wp-block-buttons {
		div {
			display: inline-block;
			a {
				@extend %button;
			}
			&.disabled {
				@extend %button-disabled;
			}
		}
	}
	.wp-block-embed.is-type-video {
		.wp-block-embed__wrapper {
			width: 100%;
			aspect-ratio: 16/9;
		}
		iframe {
			width: 100%;
			height: 100%;
		}
	}

	.wp-block-gallery {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
		figure {
			width: 100%;
			@include bp(md) {
				width: 48%;
			}
			img {
				width: 100%;
				height: auto;
				border-bottom: 5px solid var(--color-secondary);
				border-right: 5px solid var(--color-secondary);
			}
		}
	}

	.wp-block-image {
		margin: 0;
		width: 100%;
	}
}
