@use '../variables/colors' as colors;

body {
	&:has(header.mode-default) {
		padding-top: 150px;
	}
}

header {
	@extend .container-full-width;
	position: fixed;
	top: 0;
	left: 0;
	background: rgba(25, 25, 25, 0.75);
	z-index: 1030;
	transform: translateY(-100%);
	transition: 0.5s;
	padding: 1rem 2rem 0.9rem;
	border-bottom: 1px solid rgba(230, 230, 230, 0.2);
	backdrop-filter: blur(3px);

	@include bp(md) {
		flex-direction: row;
		justify-content: space-between;
		padding: 2em 3rem;
	}

	&.show,
	&.mode-default {
		transform: translateY(0);
	}

	.branding,
	nav {
		width: 100%;
		@include bp(md) {
			width: auto;
		}
	}

	.branding {
		h1 {
			font-family: 'Tusker Grotesk 7';
			font-weight: 300;
			color: colors.$color-hero-secondary;
			font-size: 5.1vw;
			text-align: center;
			margin: 0.5em 0;

			@include bp(md) {
				margin: 0.5em;
				text-align: left;
				font-size: 1.4em;
				margin: 0;
			}
			@include bp(lg) {
				font-size: 1.8em;
			}
			span {
				font-family: 'Tusker Grotesk 4';
				font-weight: 300;
				color: colors.$color-hero;
				font-size: 1em;
				margin-left: 0.25em;
				@include bp(md) {
					font-size: 1em;
				}
			}
		}
	}

	nav {
		display: flex;
		align-items: center;
		justify-content: space-around;
		padding: 0 3rem;
		@include bp(md) {
			justify-content: unset;
			padding: 0;
		}
		a {
			color: white;
			font-size: 1.2em;
			margin-right: 0;
			@include bp(md) {
				margin-right: 1.5em;
			}
			@include bp(lg) {
				margin-right: 4em;
			}
			@include bp(xl) {
				margin-right: 5em;
			}
			@include bp(xxl) {
				margin-right: 6em;
			}
			&:last-child {
				margin-right: 0;
			}
			@include bp(md) {
				font-size: 1.4em;
			}
		}
	}
}
