@use '../variables/colors' as colors;

body {
	&:has(header.mode-default) {
		padding-top: 150px;
	}
}

header {
	@extend .container-full-width;
	flex-direction: row;
	justify-content: space-between;
	position: fixed;
	top: -100px;
	background: rgba(25, 25, 25, 0.75);
	z-index: 1030;
	transition: 0.5s;

	padding: 1em 0em;
	@include bp(md) {
		padding: 1.5em 0.5em 1.4em;
	}
	&.show,
	&.mode-default {
		top: 0px;
	}

	a {
		text-decoration: none;
	}

	.branding,
	nav {
		width: 100%;
		@include bp(md) {
			width: auto;
		}
	}

	.branding {
		h1 {
			font-family: 'Tusker Grotesk 7';
			font-weight: 300;
			color: colors.$color-hero-secondary;
			font-size: 5.3vw;
			text-align: center;
			margin: 0.5em;

			@include bp(sm) {
				font-size: 1.8em;
			}
			@include bp(md) {
				text-align: left;
				font-size: 1.4em;
			}
			@include bp(lg) {
				font-size: 1.8em;
			}
			span {
				font-family: 'Tusker Grotesk 4';
				font-weight: 300;
				color: colors.$color-hero;
				font-size: 1em;
				margin-left: 0.25em;
				@include bp(md) {
					font-size: 1em;
				}
			}
		}
	}

	nav {
		display: flex;
		align-items: center;

		a {
			color: white;
			font-size: 1.2em;
			margin-right: 3em;
			&:last-child {
				margin-right: 1em;
			}
			@include bp(md) {
				font-size: 1.4em;
			}
		}
	}
}
