@use '../variables/colors' as colors;

body {
	font-family: 'Raleway', sans-serif;
	font-weight: 500;
	line-height: 150%;
	color: #e9ecef;
	line-height: 150%;
}
h1,
.h1 {
	color: white;
	font-family: 'Tusker Grotesk 7', sans-serif;
	font-weight: 600;
	font-size: 3em;
}
h2,
.h2 {
	color: white;
	font-family: 'Tusker Grotesk 6', sans-serif;
	font-weight: 600;
	font-size: 2.5em;
}
h3,
.h3 {
	color: white;
	font-family: 'Tusker Grotesk 4', sans-serif;
	font-weight: 500;
	font-size: 2em;
}
h4,
.h4 {
	color: white;
	font-family: 'Raleway', sans-serif;
	font-style: italic;
	font-weight: 500;
}

h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
.h4,
h5,
.h5,
h6,
.h6 {
	line-height: 110%;
	margin-top: 0.4rem;
	margin-bottom: 0.4rem;
}

p {
	line-height: 140%;
	margin-top: 1rem;
	margin-bottom: 1rem;
}

a {
	color: colors.$color-hero;
	text-decoration: none;
	transition: color 0.1s linear;
	&:hover {
		color: colors.$color-hero-secondary;
	}
}

p {
	& + h1,
	& + h2,
	& + h3,
	& + h4,
	& + h5 {
		margin-top: 1.5em;
	}
}

aside {
	color: colors.$color-hero-tint;
	// color: white;
	h1,
	.h1 {
		color: inherit;
		font-size: 2em;
	}
	h2,
	.h2 {
		color: inherit;
		font-size: 1.5em;
	}
	h3,
	.h3 {
		color: inherit;
		font-size: 1.2em;
	}
	h4,
	.h4 {
		color: inherit;
		font-size: 1em;
	}
	ul {
		padding-left: 0;
		li {
			font-size: 0.85em;
			margin: 0.75em 0;
		}
	}
}

// Special variation on headers
h2.fat {
	margin: 8rem auto 5rem;
	text-align: center;
	font-family: 'Tusker Grotesk 9';
	font-weight: 600;
	color: colors.$color-hero;
	text-shadow: 8px 8px 0 colors.$color-hero-secondary;
	font-size: 4.5vw;
	font-size: max(4.5vw, 30px);
}

h1.shadow,
h2.shadow {
	margin: 2rem auto 2rem -1.5rem;
	color: colors.$color-hero;
	text-shadow: 8px 8px 0 colors.$color-hero-secondary;
}
