body {
	font-family: 'Raleway', sans-serif;
	font-weight: 500;
	line-height: 140%;
}
h1 {
	font-family: 'Tusker Grotesk 7', sans-serif;
	font-weight: 600;
	font-size: 3em;
	margin-bottom: 0.3em;
}
h2 {
	font-family: 'Tusker Grotesk 6', sans-serif;
	font-weight: 600;
	font-size: 2.5em;
	margin-bottom: 0.3em;
}
h3 {
	font-family: 'Tusker Grotesk 4', sans-serif;
	font-weight: 500;
	font-size: 2em;
	margin-bottom: 0.2em;
}

h4 {
	font-family: 'Raleway', sans-serif;
	font-style: italic;
	font-weight: 500;
}
