@use '../variables/colors' as colors;

body {
	font-family: 'Raleway', sans-serif;
	font-weight: 500;
	line-height: 150%;
	line-height: 150%;
	color: var(--color-site-text);
}
h1,
.h1 {
	font-family: 'Tusker Grotesk 7', sans-serif;
	font-weight: 600;
	font-size: 3rem;
}
h2,
.h2 {
	font-family: 'Tusker Grotesk 6', sans-serif;
	font-weight: 600;
	font-size: 2.5rem;
}
h3,
.h3 {
	font-family: 'Tusker Grotesk 4', sans-serif;
	font-weight: 500;
	font-size: 2rem;
}
h4,
.h4 {
	font-family: 'Raleway', sans-serif;
	font-style: italic;
	font-weight: 500;
	font-size: 1.7rem;
}

h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
.h4,
h5,
.h5,
h6,
.h6 {
	line-height: 110%;
	margin-top: 0.4rem;
	margin-bottom: 0.4rem;
}

p {
	line-height: 150%;
	margin-top: 1rem;
	margin-bottom: 1rem;
}

a {
	color: var(--color-hero);
	text-decoration: none;
	transition: color 0.1s linear;
	&:hover {
		color: var(--color-secondary-small);
	}
}

p {
	& + h1,
	& + h2,
	& + h3,
	& + h4,
	& + h5 {
		margin-top: 1.5em;
	}
}

aside {
	color: --color-hero-tint;
	// color: white;
	h1,
	.h1 {
		color: inherit;
		font-size: 2em;
	}
	h2,
	.h2 {
		color: inherit;
		font-size: 1.5em;
	}
	h3,
	.h3 {
		color: inherit;
		font-size: 1.2em;
	}
	h4,
	.h4 {
		color: inherit;
		font-size: 1em;
	}
	ul {
		padding-left: 0;
		li {
			font-size: 0.85em;
			margin: 0.75em 0;
		}
	}
}

// Special variation on headers
h2.fat {
	margin: 4vw auto 3vw;
	text-align: center;
	font-family: 'Tusker Grotesk 9';
	font-weight: 600;
	color: var(--color-hero);
	font-size: 4.5vw;
	font-size: max(4.5vw, 30px);
	text-shadow: 8px 8px 0 var(--color-secondary);
	@include increase-contrast {
		color: var(--color-secondary);
		text-shadow: none !important;
	}
}

h1.shadow,
h2.shadow {
	color: var(--color-hero);
	margin: 2rem auto 2rem 0;
	text-shadow: 8px 8px 0 var(--color-secondary);

	@include increase-contrast {
		color: var(--color-secondary);
		text-shadow: none !important;
	}
	@include bp(md) {
		margin: 2rem auto 2rem -1.5rem;
	}
}
