$color-site-background: #1d1d1d;

$color-hero: #00ffce;
$color-hero-tint: lighten($color-hero, 20%);
$color-hero-shade: darken($color-hero, 20%);

$color-hero-secondary: #ff0080;
$color-hero-secondary-tint: lighten($color-hero-secondary, 20%);
$color-hero-secondary-shade: darken($color-hero-secondary, 20%);
